.weatherPage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherPage__title {
    align-items: center;
    margin: 1rem;
}

.weatherPage__title--text {
    color: #000000;
}

.weatherPage__table--container {
    margin: 0.5rem;
}