    /* Dropdown */
  .userPanel{
    align-items: center;
    justify-items: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .userPanel:hover {
    background-color: #eeeeee;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .dd-button {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    border: 1px solid #059FFF;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #059FFF;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #059FFF;
  }